* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('font/WorkSans-Regular.woff') format('woff');

}
a {text-decoration: none;color: blue; }
a:hover {text-decoration: none; color: black;}


body {
    font-family: 'WorkSans-Regular';
    width: 100%;
    font-size: 100%;
}

  .scan {
        position: fixed;
        display:block;
        width: 80px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.scan:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);

}

h1, h2, h3, h4 {
    font-weight: normal;
}
h1, h2, {
    line-height: 85%;
    padding-bottom: 20px;
}
.soustitre {
    font-size: 30px;
    line-height: 90%;
    padding-bottom: 10px;
}
.ecole {
    font-size: 25px;
    line-height: 90%; padding-top: 10px;
    padding-bottom: 10px;
}
.info {
    text-align: right;
}

.menu-mobile {
    display:none;
}

h1 {
    font-size:40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}


h4 {
    font-size: 15px;
    padding-top: 40px;
    color: blue;
}

.tete {
    padding: 0;
}
p {
    font-size:100%;
    padding-bottom: 20px;
}
img {
    max-width: 100%;
    margin-bottom: 20px;
}

header {
    font-size: 40px;
    height: 18vh;
    padding: 10px 20px;
}
header h2 {
    color: blue;
}
.titre   {
    width: 100%;
}
.info {
    position: absolute;
    top:10px;
    right:20px;
    width:20%;

}
.accueil {
    padding: 20px;
}
.accueil-colonne {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}
.accueil-projet {
    margin-bottom: 40px;
}
.col-gauche, .col-droite {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}
.info-gauche {
    font-size: 45px;
    line-height: 48px;
    color: blue;
}

.scroll {
    overflow-y: scroll;
    height: 82vh;
    padding-bottom: 100px;
}
img.verticale {
    max-width: 49%;
}


@media (max-width: 1000px) {
    .accueil-colonne {
        width: 100%;
    }
    .col-gauche, .col-droite {
        width: 100%;
    }
    img {
    display: block;
    background-color: white;
    }

    .accueil-colonne img {
    background-color: transparent;
    width: 100%;
    }
    .scroll {
        overflow: auto;
        height: auto;
    }
    body {
        background-color: blue;
        font-size: 50px;
    }

    h1, h2, h3 ,h4, p, header, .info-gauche {
        color: white;
    }
    h2 {
        font-size:70px;
    }
    .col-gauche {
        margin-bottom: 60px;
    }
    .col-gauche h3 {
        font-size: 50px;
    }
    h4 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    header {
        padding:0;
    }
    .menu-ordi h1, .info {
        display:none;
    }
    .menu-ordi h2 {
        display: block;
        color: white;
        padding-left: 88px;
    }
    .menu-mobile {
        display:block;
        position:fixed;
        left:0;
        top:0;
        height:100vh;
        width: 70px;
        background-color: white;
    }
    .menu-mobile img {
        margin-left:10px;
        width:60px;
        padding:10px 0 10px 0;
    }
    .menu-mobile .titre-mobile {
        position: absolute;
        top:0;
        left: 0;
    }
    .menu-mobile .info-mobile {
        position: absolute;
        bottom: 150px;
        left: 0;
    }
    .accueil, .col-gauche, .col-droite {
        padding-left: 88px;
    }

    .scan {
        width:15%;
    }
    img.verticale {
        max-width: 100%;
    }

}


/*

@media screen and (max-width: 600px) {
h1, h2, .info {
font-size:25px;

}

p {font-size: 14px;}

}*/
